/*  */
button {
  cursor: pointer;
  padding: auto;
}
select {
  cursor: pointer;
  padding: auto;
}

/* Class Selector */
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden {
  display: none;
}
.done {
  text-decoration: line-through;
  opacity: 0.5;
}

/* ID Selector */
#cropList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
#cropListDone {
  list-style-type: none;
}